.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    /* height: 70px; */
}

.header .logo {
    height: 30px;
}

.header nav {
    /* justify-content: flex-end; */
    /* float: right; */
}

.header nav a {
    color: #000;
    margin-left: 10px;
    text-decoration: none;

}