.header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.header .logo {
    height: 30px;
}

.header nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header nav a {
    color: #000;
    margin-left: 10px;
    text-decoration: none;

}